# for configurating environment
# DEV for local or PROD when on AWS EC2
ENV=DEV 

# for DB connections
DB_USERNAME=postgres
DB_PASSWORD=xxx
DB_HOST=xxx.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres
